<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zytekaron - Contact</title>
    <%- render.template('opengraph', {
        title: 'Zytekaron - Contact',
        desc: 'A few ways to get in contact with me.',
        url: 'https://zytekaron.com/about',
        image: 'https://cdn.discordapp.com/avatars/272659147974115328/4ff07692fab03809e7754fa160a77155.png'
    }) %>
    <%- render.template('head') %>
    <%- render.css('contact') %>
</head>
<body>
<%- render.template('navbar') %>

<section id="home">
    <div class="container my-5">
        <h1 class="mb-3">Contact</h1>

        <section id="contact">
            <a href="mailto:hello@zytekaron.com" class="btn btn-outline-primary">zytekaron@gmail.com</a>
            <br>
            <a href="https://discord.com/users/272659147974115328" class="btn btn-outline-primary">Zytekaron#0572 on Discord</a>
            <br>
            <a href="https://telegram.org" class="btn btn-outline-primary">@Zytekaron on Telegram</a>
            <br>
            <a href="https://wire.com" class="btn btn-outline-primary">@Zytekaron on Wire</a>
        </section>
    </div>
</section>

<%- render.template('footer') %>

</body>
</html>
