<div class="col-md-4 mb-4">
  <div class="card h-100 bg-transparent text-white blur-background-3 border">
    <div class="card-body">
      <h5 class="card-title"><%= properties.name %></h5>

      <% if (properties.description) { %>
      <p class="card-text"><%= properties.description %></p>
      <% } %>
      <a href="<%= properties.href %>" class="btn btn-success"><i class="bi bi-<%- button_text === 'Download' ? 'download' : 'box-arrow-up-right' %>"></i>
        <%- button_text %>
      </a>
    </div>
  </div>
</div>