<!DOCTYPE html>
<html>
<%- include('partials/head') %>

<body>
  <div id="vanta-container">
    <%- include('partials/navbar') %>
    <div id="main">
      <div class="container"><%- include(sub_view) %></div>
      <%- include("partials/footer") %>
    </div>

    <%# Dynamic javascript imports %>
    <% imports?.js?.forEach(js => { %>
    <script src="<%= js %>"></script>
    <% }); %>

    <script>
      VANTA.BIRDS({
        el: "#vanta-container",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.0,
        minWidth: 200.0,
        scale: 1.0,
        scaleMobile: 1.0,
        backgroundColor: 0x101010,
        color1: 0x3841e1,
        color2: 0x4aff,
      });
    </script>
  </div>
</body>

</html>