<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zytekaron</title>
    <%- render.template('opengraph', {
        title: 'Zytekaron',
        desc: 'A personal portfolio for Zytekaron, a backend software developer.',
        url: 'https://zytekaron.com/about',
        image: 'https://cdn.discordapp.com/avatars/272659147974115328/4ff07692fab03809e7754fa160a77155.png'
    }) %>
    <%- render.template('head') %>
    <%- render.css('home') %>
</head>
<body>
<%- render.template('navbar') %>

<section id="home">
    <div class="container my-5">
        <h1 class="mb-5">Zytekaron</h1>

        <section id="contact">
            <a href="/github" class="btn btn-outline-primary">
                GitHub
            </a>
            <a href="/discord" class="btn btn-outline-primary">
                Discord
            </a>
        </section>
    </div>
</section>

<section id="projects">
    <div class="container mt-5">
        <h3 class="mb-3">Projects</h3>
        <div class="row">
            <%- render.template('project', {
                title: 'sk',
                text: 'Sk (sklang) is a high-level, interpreted programming language written in Go. ' +
                    '(GitHub repository is not currently up to date)',
                link: links.sk
            }) %>
            <%- render.template('project', {
                title: 'zytekaron.com',
                text: 'The website you\'re using now is open source! Check it out (and maybe contribute?)',
                link: links.site
            }) %>
            <%- render.template('project', {
                title: 'jvar',
                text: 'A library for JavaScript and Java developers with a wide range of developer utilities.',
                link: links.jvar
            }) %>
            <%- render.template('project', {
                title: 'commando',
                text: 'A Java library used with JDA to create simple command handlers for Discord bots.',
                link: links.commando
            }) %>
        </div>
    </div>
</section>

<section id="skills">
    <div class="container mt-5">
        <h3 class="mb-3">Programming Languages</h3>
        <div class="row">
            <%- render.template('lang', {
                lang: 'Node.js',
                desc: [
                    "I've been using Node.js since I started programming",
                    "more than 3 years ago. I've built many, many projects,",
                    "including Discord bots, web servers like this website,",
                    "chat applications, and a couple desktop utilities.",
                    "JavaScript is a really easy language to learn, and the",
                    "community is <i>huge,</i> which is just one of the many",
                    "reasons I enjoy using it. (No, I don't use TypeScript.)"
                ].join(' '),
                image: 'https://seeklogo.com/images/N/nodejs-logo-FBE122E377-seeklogo.com.png'
            }) %>
            <%- render.template('lang', {
                lang: 'Java',
                desc: [
                    "I first looked into learning Java a couple years",
                    "ago, and I started using it as a step up from",
                    "Node.js (being a statically typed language and all),",
                    "and to write some basic Minecraft plugins and some",
                    "more efficient desktop utilities around a year and",
                    "a half ago. I'm not currently using Java for any",
                    "fresh projects, but I will be soon, and I'm still",
                    "maintaining some of my older projects."
                ].join(' '),
                image: 'http://assets.stickpng.com/images/58480979cef1014c0b5e4901.png'
            }) %>
            <%- render.template('lang', {
                lang: 'Go',
                desc: ["I've been using Go for a couple months and",
                    "I've already committed to using it for many",
                    "different projects that benefit from its concurrency",
                    "and language features. I'm currently using Go for",
                    "my personal services (except for this website),",
                    "like notification and cronjob services, as well as",
                    "a couple others. Go is definitely fun to use!"
                ].join(' '),
                image: 'https://camo.githubusercontent.com/756cf97d34e26aa5eb9140e65094cf1c9b60c089ae90a307df36c557d2494806/68747470733a2f2f7261772e6769746875622e636f6d2f676f6c616e672d73616d706c65732f676f706865722d766563746f722f6d61737465722f676f706865722d66726f6e742e706e67'
            }) %>
        </div>
    </div>
</section>

<%- render.template('navbar') %>
<%- render.template('footer') %>

</body>
</html>
