<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zytekaron - Referral</title>
    <%- render.template('opengraph', {
        title: 'Zytekaron - Referral',
        desc: 'A bunch of useful referral links you should use to help both of us out!',
        url: 'https://zytekaron.com/referral',
        image: 'https://cdn.discordapp.com/avatars/272659147974115328/4ff07692fab03809e7754fa160a77155.png'
    }) %>
    <%- render.template('head') %>
    <%- render.css('referral') %>
</head>
<body>
<%- render.template('navbar') %>

<section id="home">
    <div class="container my-5">
        <h1 class="mb-3">Referral Links</h1>

        <section id="referrals">
            <a href="/referral/honey" class="btn btn-outline-primary">Honey</a>
            Honey helps you save money at many online stores by finding coupon codes and keeping track of on-sale items
            <br>
            <a href="/referral/coinbase" class="btn btn-outline-primary">Coinbase</a>
            Coinbase is a service for buying, selling, trading, and storing cryptocurrency
            <br>
            <a href="/referral/digitalocean" class="btn btn-outline-primary">DigitalOcean</a>
            Get $100 to spend on hosting services over 60 days!
            <br>
            <a href="/referral/vultr" class="btn btn-outline-primary">Vultr</a>
            Get $100 to spend on hosting services over 14 days!
            <br>
            <a href="/referral/deepsource" class="btn btn-outline-primary">Deepsource.io</a>
            Deepsource.io analyzes your code and helps you fix bugs, prevent security risks, anti-patterns, and much more
            <br>
            <a href="/referral/trello" class="btn btn-outline-primary">Trello</a>
            Trello is a team management website and app with many useful features for project coordination
            <br>
            <a href="/referral/warp" class="btn btn-outline-primary">Warp+</a>
            Warp+ is a free service offered by Cloudflare to speed up your internet.
            <br>
        </section>
    </div>
</section>

<%- render.template('footer') %>

</body>
</html>
