<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zytekaron - About Me</title>
    <%- render.template('opengraph', {
        title: 'Zytekaron - About Me',
        desc: 'Some information about me and what I do.',
        url: 'https://zytekaron.com/about',
        image: 'https://cdn.discordapp.com/avatars/272659147974115328/4ff07692fab03809e7754fa160a77155.png'
    }) %>
    <%- render.template('head') %>
    <%- render.css('about') %>
</head>
<body>
<%- render.template('navbar') %>

<div class="container my-5">
    <h1>About Me</h1>
    <p>
        Hi! I'm Michael. I'm 18, I'm a tech nerd, and I've been a software developer for around 5 years.
        I spend most of my free time writing various software using Go, Node.js, Java, and a handful of
        other languages I'm learning on the side, including C and C++. I'm quite interested in learning
        about how technology works internally, such as hardware, operating systems, the internet, etc.
        I'm also interested in applied security and cryptography, and methods to maintain your privacy
        and anonymity online.
        <br>
        <br>
        I'm a former Taekwondo sport competitor, and I've competed in many tournaments ranging from
        local to national. I've trained at two different dojangs over the course of 14 years, and I'm
        proud to say I've reached the rank of 4th Dan (4th Degree Black Belt), awarded by the
        <a href="https://en.wikipedia.org/wiki/Kukkiwon">Kukkiwon</a>. I've been able to make many
        lasting friends along the way, both during training and competing, and I've enjoyed every
        minute of it.
        <br>
        <br>
        I'm active on <a href="https://github.com/Zytekaron">GitHub</a>, and you can contact me via my
        <a href="/discord">Discord server</a> or via <a href="/contact">other means</a> if you'd like
        to see what I'm working on, ask for help, or just say hi!
        <br>
        <br>
        I'm thinking about publishing Node.js or Go tutorials on YouTube in the future, so if you're
        interested, let me know! It'd be nice to hear there's an interested audience. I'm also open
        to providing 1-on-1 help with programming or other topics based on the things I've learned,
        so just reach out if you need help with anything :)
    </p>
</div>

<%- render.template('footer') %>

</body>
</html>
