<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zytekaron - About Me</title>
    <%- render.template('opengraph', {
        title: 'Zytekaron - About Me',
        desc: 'Some information about me and where I\'m at.',
        url: 'https://zytekaron.com/about',
        image: 'https://cdn.discordapp.com/avatars/272659147974115328/4ff07692fab03809e7754fa160a77155.png'
    }) %>
    <%- render.template('head') %>
    <%- render.css('about') %>
</head>
<body>
<%- render.template('navbar') %>

<div class="container my-5">
    <h1>About Me</h1>
    <p>
        Hi! I'm Michael. I'm a 17-year-old software developer currently in high school. I spend my free
        time writing backend software using Node.js, Java, Go, and a couple other languages I'm learning
        on and off -- Rust, and a bit of C++. I also spend my free time doing Taekwondo training 5-6 days
        a week, and I participate in lots of tournaments ranging from local to national competitions.
        <br>
        <br>
        I'm active on <a href="https://github.com/Zytekaron">GitHub</a>, and you can contact me via my
        <a href="/discord">Discord server</a> or via <a href="/contact">other means</a> if you'd like
        to check out what I'm working on, or just say hi!
        <br>
        <br>
        I'm looking into publishing JavaScript/Node.js tutorials on YouTube in the near future,
        so if you're interested, let me know!
    </p>
</div>

<%- render.template('footer') %>

</body>
</html>
